<% layout("layouts/main") %>

<div>
    <%= problem.problemNumber %>
</div>
<hr>
<div>
    <%= problem.difficulty %>
</div>
<hr>
<div>
    <%= problem.title %>
</div>
<hr>
<div>
    <%= problem.statement %>
</div>
<hr>
<div>
    <%= problem.topic %>
</div>
<hr>
<div>
    <%= problem.solution %>
</div>
<hr>
<div>
    <%= problem.createdBy %>
</div>
<hr>
<div>
    <%= problem.createdAt %>
</div>





